@model List<Recipe>
@{
    ViewBag.Title = "My Recipes";
}

<div class="container text-center">
    <h1>Your recipes</h1>
    <style>
        .btn {
            background-color: #efefef;
            border-radius: 0px;
            border-width: 0px;
        }

        .border {
            background-color: #efefef;
            border-radius: 0px;
            border-width: 3px;
            border-color: black;
        }
    </style>
    @foreach (var Recipe in Model)
    {
        bool authorized = ViewBag.SignedIn != null && ViewBag.SignedIn && ViewBag.User != null && Recipe.Username != null && ViewBag.User.Username == Recipe.Username;
        <form asp-action="Details">
            <div class="border row m-2">
                <button type="submit" class="" col-9" btn">
                    <h2 class="text-left">
                        @Recipe.Title
                    </h2>
                </button>
                <div class="col-1">
                    <a class="m-2" asp-action="Edit" asp-route-id="@Recipe.RecipeId">Edit</a>
                    <a class="m-2" asp-action="Delete" asp-route-id="@Recipe.RecipeId">Delete</a>
                </div>
            </div>

            <input type="hidden" id="Recipe_RecipeId" name="Recipe.RecipeId" value="@Recipe.RecipeId" />
            <input type="hidden" id="Recipe_Title" name="Recipe.Title" value="@Recipe.Title" />
            <input type="hidden" id="Recipe_CookTime" name="Recipe.CookTime" value="@Recipe.CookTime" />
            <input type="hidden" id="Recipe_Ingredients" name="Recipe.Ingredients" value="@Recipe.Ingredients" />
            <input type="hidden" id="Recipe_Description" name="Recipe.Description" value="@Recipe.Description" />
        </form>
    }
</div>